$bg:'background';
body{
    #{$bg}-image: url('../img/background.jpg');
    #{$bg}-repeat: no-repeat;
    #{$bg}-size:cover;
    height: 100vh;
    background-position:center;
    text-align: center;
}
header{
    height: 7vh;
    text-align: center;
    font-size: 30px;
    color:white;
    background-color: lighten($color: black, $amount:20%);
}
.form-add{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 20vh;
    border-radius: 10px;
    background-color: lighten($color: #000000, $amount: 30%);
    position: fixed;
    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);
}
.input-add{
    height: 5vh;
    width: 40vw;
}
.input-add::placeholder{
    text-align: center;
}
.form-add .btn{
    margin: 10px;
    height: 4.5vh;
    width: 8vw;

}
.card{
    position: fixed;
    top: 20%;
    left: 50%;
    width: 90vw;
    max-height: 50vh;
    height: 50vh;
    transform: translate(-50%);
    overflow: auto;
    
}
.card-contain{
    width: 20vw;
    overflow-x: auto;
}
.fa-trash{
    color:red;
    cursor: pointer;
}
.fa-check{
    color:rgb(66, 168, 66);
    cursor: pointer;
}

.info{
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50% , -50%);
font-size: 3vw;
}